
<div class="container" style="background-color:white">
    <div class="row" style="">
        <img src="~/images/aboutUs/about-cover.jpg" style="width:100%;" />
    </div>
    <div class="row p-4">
        <div class="col-12 p-4" style="">
            <h2 class=" mt-2 mb-2"><img src="/images/ca-solutions.png" style="width: 61px;"> &ensp; CA Solutions</h2>
            <p class=" mt-2 mb-2">
                Provide 100% client based solutions cost effectively. Improve and release more productive system with minimum complexity. Always tried to give the high quality product for solved your problem's.
            </p>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-6 pt-2 pb-2">
            <div class="col-12 p-4" style="background-image: url(/images/aboutUs/bg.jpg); background-size: cover; border-radius: 20px;">
                <h2 class=" mt-2 mb-2"><i class="fa fa-eye" style=""></i> &ensp; Vision</h2>
                <p class=" mt-2 mb-2">
                    Provide 100% client based solutions cost effectively. Improve and release more productive system with minimum complexity. <br />Always tried to give the high quality product for solved your problem's.
                </p>
            </div>          
        </div>
        <div class="col-md-6 pt-2 pb-2">
            <div class="col-12 p-4" style="background-image: url(/images/aboutUs/bg.jpg); background-size: cover; border-radius: 20px;">
                <h2 class=" mt-2 mb-2"><i class="fa fa-bullseye" style=""></i> &ensp; Mission</h2>
                <p class=" mt-2 mb-2">
                    Adding more technologies and will increment our methodologies. Keep standard way for a - z processes developing systems. Follow more creativeness and effectiveness of paths for successful our processes.
                </p>
            </div>
           
        </div>
    </div>
    <div class="row p-4">
        <div class="col-12 p-4" style="">
            <h2 class=" mt-2 mb-2"><i class="fa fa-road" style=""></i> &ensp; Technology Stack</h2>
            <p class=" mt-2 mb-2">
                Adding more technologies and will increment our methodologies. Keep standard way for a - z processes developing systems. Follow more creativeness and effectiveness of paths for successful our processes.
            </p>
            <div class="row p-4"></div>
            <div class="row" >
                <div class="col-md-6">
                    <table class="tech align-self-center">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/vs.png" /></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/ajax.png" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/aboutUs/technology/netcore.png" /></td>
                                <td></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/mssql.jpg" /></td>
                                <td></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/mysql.png" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/vue.png" /></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/html.png" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-md-6">
                    <table class="tech align-self-center">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/jquery.png" /></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/vscode.jpg" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/aboutUs/technology/bootstrap.jpg" /></td>
                                <td></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/csharp.png" /></td>
                                <td></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/crystalreports.png" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/css.png" /></td>
                                <td></td>
                                <td><img src="~/images/aboutUs/technology/azure.jpg" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                </div>


            </div>

        </div>
    </div>

    <div class="row" style=" height:50px"></div>
</div>

<style>
    .tech > tbody > tr > td > img {
        width: 70px;
        border-radius: 80px;
        background: white;
    }
    .tech > tbody > tr > td {
        width: 20px;
        height: 70px;
        border-radius: 80px;
        /*background: white;*/
    }
</style>
