


@font-face {
    font-family: 'SignikaNegative-Regular';
    src: url('../fonts/SignikaNegative/SignikaNegative-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SignikaNegative-Light';
    src: url('../fonts/SignikaNegative/SignikaNegative-Light.ttf') format('truetype');
}
